<html>
    <head>
        <title>实时数据展示</title>
    </head>
    <body>
        <h1>实时数据</h1>
        <h2>数据1</h2>
        <h2>数据2</h2>
        <h2>数据1</h2>
        <h2>数据2</h2>
        <h2>数据1</h2>
        <h2>数据2</h2>
        <h2>数据1</h2>
        <h2>数据2</h2>
    </body>
</html>